Laboratorio/ConsumirSOAP/ConsumirSOAP/Connected Services/SERECI/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estadoCivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datosPadre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datosMadre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaDefuncion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="causa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esposo" type="tns:Esposo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Esposo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="carnet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCertificadoNacimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCertificadoNacimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCertificadoNacimientoResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCertificadoMatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCertificadoMatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCertificadoMatrimonioResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCeritificadoDefunsion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCeritificadoDefunsionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCeritificadoDefunsionResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCertificadoNacimientoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCertificadoNacimiento" />
  </wsdl:message>
  <wsdl:message name="ObtenerCertificadoNacimientoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCertificadoNacimientoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCertificadoMatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCertificadoMatrimonio" />
  </wsdl:message>
  <wsdl:message name="ObtenerCertificadoMatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCertificadoMatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCeritificadoDefunsionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCeritificadoDefunsion" />
  </wsdl:message>
  <wsdl:message name="ObtenerCeritificadoDefunsionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCeritificadoDefunsionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ObtenerDatos">
      <wsdl:input message="tns:ObtenerDatosSoapIn" />
      <wsdl:output message="tns:ObtenerDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoNacimiento">
      <wsdl:input message="tns:ObtenerCertificadoNacimientoSoapIn" />
      <wsdl:output message="tns:ObtenerCertificadoNacimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoMatrimonio">
      <wsdl:input message="tns:ObtenerCertificadoMatrimonioSoapIn" />
      <wsdl:output message="tns:ObtenerCertificadoMatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCeritificadoDefunsion">
      <wsdl:input message="tns:ObtenerCeritificadoDefunsionSoapIn" />
      <wsdl:output message="tns:ObtenerCeritificadoDefunsionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoNacimiento">
      <soap:operation soapAction="http://tempuri.org/ObtenerCertificadoNacimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoMatrimonio">
      <soap:operation soapAction="http://tempuri.org/ObtenerCertificadoMatrimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCeritificadoDefunsion">
      <soap:operation soapAction="http://tempuri.org/ObtenerCeritificadoDefunsion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoNacimiento">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCertificadoNacimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificadoMatrimonio">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCertificadoMatrimonio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCeritificadoDefunsion">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCeritificadoDefunsion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:51866/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:51866/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>